<div>
    <h2 id="page-heading">
        <span>Enderecos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-endereco" [routerLink]="['/endereco/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Endereco
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="enderecos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Logadouro</span></th>
            <th><span>Numero</span></th>
            <th><span>Cep</span></th>
            <th><span>Cidade</span></th>
            <th><span>Bairro</span></th>
            <th><span>Pais</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let endereco of enderecos ;trackBy: trackId">
                <td><a [routerLink]="['/endereco', endereco.id, 'view' ]">{{endereco.id}}</a></td>
                <td>{{endereco.logadouro}}</td>
                <td>{{endereco.numero}}</td>
                <td>{{endereco.cep}}</td>
                <td>{{endereco.cidade}}</td>
                <td>{{endereco.bairro}}</td>
                <td>{{endereco.pais}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/endereco', endereco.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/endereco', endereco.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'endereco/'+ endereco.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
