<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-anuncio-heading">Create or edit a Anuncio</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!anuncio.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="anuncio.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                        [(ngModel)]="anuncio.titulo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="anuncio.descricao" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_preco">Preco</label>
                    <input type="number" class="form-control" name="preco" id="field_preco"
                        [(ngModel)]="anuncio.preco" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_prestador">Prestador</label>
                    <select class="form-control" id="field_prestador" name="prestador" [(ngModel)]="anuncio.prestador" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prestadorOption.id === anuncio.prestador?.id ? anuncio.prestador : prestadorOption" *ngFor="let prestadorOption of prestadors; trackBy: trackPrestadorById">{{prestadorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
