<div>
    <h2 id="page-heading">
        <span>Anuncios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-anuncio" [routerLink]="['/anuncio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Anuncio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="anuncios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Titulo</span></th>
            <th><span>Descricao</span></th>
            <th><span>Preco</span></th>
            <th><span>Prestador</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let anuncio of anuncios ;trackBy: trackId">
                <td><a [routerLink]="['/anuncio', anuncio.id, 'view' ]">{{anuncio.id}}</a></td>
                <td>{{anuncio.titulo}}</td>
                <td>{{anuncio.descricao}}</td>
                <td>{{anuncio.preco}}</td>
                <td>
                    <div *ngIf="anuncio.prestador">
                        <a [routerLink]="['../prestador', anuncio.prestador?.id, 'view' ]" >{{anuncio.prestador?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/anuncio', anuncio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/anuncio', anuncio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'anuncio/'+ anuncio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
